.large-12.column
  .large-12.column.color-box
    .large-8.column.no-padding
      .color-box-swatch{ :class => color }
    .large-4.column.no-padding
      %input.adjacent-left{ :type => 'text', :value => "$#{color}" }

