- content_for :content do
  .row#icons-style-guide
    .bgc1.clearfix
      %h1.mhmm.mvm
        %span.fgc1 Font Name:
        townsqd-icons
        %small.fgc1 (Glyphs:&nbsp;310)
    .clearfix.mhl.ptl
      %h1.mvm.mtn.bshadow.fgc1 Grid Size: Unknown
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-check
          %span.mls icon-check
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f000"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-connection
          %span.mls icon-connection
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f001"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-add-connection
          %span.mls icon-add-connection
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f001"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-info
          %span.mls icon-info
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f001"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-active
          %span.mls icon-active
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f002"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-address-book
          %span.mls icon-address-book
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f003"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-arrow-down.mini
          %span.mls icon-arrow-down
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f004"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-arrow-left
          %span.mls icon-arrow-left
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f005"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-arrow-right
          %span.mls icon-arrow-right
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f006"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-arrow-up.mini
          %span.mls icon-arrow-up
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f007"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-attach-file
          %span.mls icon-attach-file
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f008"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-bulb-shine
          %span.mls icon-bulb-shine
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f00a"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-business-2
          %span.mls icon-business-2
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f006"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-business
          %span.mls icon-business
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f009"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-camera
          %span.mls icon-camera
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f00a"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-city
          %span.mls icon-city
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f00c"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-close
          %span.mls icon-close
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f00d"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-connect
          %span.mls icon-connect
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f00e"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-edit
          %span.mls icon-edit
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f010"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-calendar
          %span.mls icon-calendar
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f012"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-comments
          %span.mls icon-comments
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f014"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-download
          %span.mls icon-download
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f015"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-eye
          %span.mls icon-eye
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f016"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-heart
          %span.mls icon-heart
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f017"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-like
          %span.mls icon-like
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f019"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-link
          %span.mls icon-link
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f021"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-list
          %span.mls icon-list
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f01a"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-lock
          %span.mls icon-lock
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f01b"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-marker
          %span.mls icon-marker
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f01e"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-page-filled
          %span.mls icon-page-filled
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f01f"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-pencil
          %span.mls icon-pencil
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f017"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-pencil2
          %span.mls icon-pencil2
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f021"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-plus
          %span.mls icon-plus
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f022"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-price-tag
          %span.mls icon-price-tag
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f023"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-pricetag-multiple
          %span.mls icon-pricetag-multiple
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f024"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-print
          %span.mls icon-print
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f025"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-question-circle
          %span.mls icon-question-circle
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f025"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-refresh
          %span.mls icon-refresh
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f026"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-shuffle
          %span.mls icon-shuffle
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f027"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-skills
          %span.mls icon-skills
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f037"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/

      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-spin
          %span.mls icon-spin
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f037"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-spin1
          %span.mls icon-spin1
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f037"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-spin3
          %span.mls icon-spin3
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f037"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-spin4
          %span.mls icon-spin4
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f037"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-spin5
          %span.mls icon-spin5
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f037"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/

      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-story
          %span.mls icon-story
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f037"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-social-facebook
          %span.mls icon-social-facebook
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f028"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-social-linkedin
          %span.mls icon-social-linkedin
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f029"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-social-twitter
          %span.mls icon-social-twitter
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f02a"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-star
          %span.mls icon-star
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f02b"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-tag-check
          %span.mls icon-tag-check
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f035"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-telephone
          %span.mls icon-telephone
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f02c"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-torso
          %span.mls icon-torso
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f02d"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-torsos-all-female
          %span.mls icon-torsos-all-female
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f02e"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-trash
          %span.mls icon-trash
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f02f"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-unlock
          %span.mls icon-unlock
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f030"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-upload
          %span.mls icon-upload
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f031"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-zoom-in
          %span.mls icon-zoom-in
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f033"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-groups
          %span.mls icon-groups
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f034"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-heart-empty
          %span.mls icon-heart-empty
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f035"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-image-attach
          %span.mls icon-image-attach
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f036"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-invite
          %span.mls icon-invite
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f037"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-message
          %span.mls icon-message
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f03a"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-notification
          %span.mls icon-notification
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f03a"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-page-add
          %span.mls icon-page-add
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f03b"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-photo
          %span.mls icon-photo
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f03c"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-post
          %span.mls icon-post
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f03d"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-postcard
          %span.mls icon-postcard
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f03e"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-recommend
          %span.mls icon-recommend
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f03f"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-request
          %span.mls icon-request
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f040"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-search
          %span.mls icon-search
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f041"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-sign-out
          %span.mls icon-sign-out
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f041"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-sm-blog
          %span.mls icon-sm-blog
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f042"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-urgent-alert-warning-m1
          %span.mls icon-urgent-alert-warning-m1
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f043"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-urgent-alert-warning
          %span.mls icon-urgent-alert-warning
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => "f044"}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-urgent-alert
          %span.mls icon-urgent-alert
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => ""}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-camera.default.circle
          %span.mls icon-camera.default.circle
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => ""}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1
        .clearfix.bshadow0.pbs
          %span.icon-camera.default
          %span.mls icon-camera.default
        %fieldset.fs0.size1of1.clearfix.hidden-false
          %input.unit.size1of2{:readonly => "", :type => "text", :value => ""}/
          %input.unitRight.size1of2.talign-right{:maxlength => "1", :readonly => "", :type => "text", :value => ""}/
        .fs0.bshadow0.clearfix.hidden-true
          %span.unit.pvs.fgc1 liga:
          %input.liga.unitRight{:readonly => "", :type => "text", :value => ""}/
      .large-6.column.fs1