<h2 id="businessUsersListView">
  Business/Users List View
</h2>
<div class="row margin-bottom-2rem">
  <div class="large-12 column">
    <% members = [ { name: 'Allison Smith', business: 'Flora and Fauna', address: '1234 17th St', initials: 'AS' }, { name: 'Andrea Pinal', business: 'Stable Cafe', address: '142 Folsom St', initials: 'AP' }, { name: 'Andrew Tower', business: 'Townsquared', address: '3180 17th St', initials: 'AT' } ] %>
    <% i = 0 %>
    <% members.each do |member| %>
      <% odd_even_class = i%2 == 0 ? 'odd' : 'even' %>
      <% i += 1 %>
      <div class="large-12 column">
        <div class="<%= odd_even_class %> list-view">
          <div class="large-12 column no-padding">
            <div class="image circle">
              <div class="initials">
                <%= member[:initials] %>
              </div>
            </div>
            <!--= image_tag 'member-l.jpg', size: '40x40'
            -->
            <div class="large-12 medium-12 small-12 column no-padding name-and-description-container">
              <div class="large-6 medium-6 small-12 column no-padding">
                <div class="name">
                  <%= member[:name] %>
                </div>
              </div>
              <div class="large-6 medium-6 small-12 column no-padding description">
                <div class="line1">
                  <%= member[:business] %>
                </div>
                <div class="line2">
                  <%= member[:address] %>
                </div>
              </div>
            </div>
            <div class="message">
              <span class="icon-mail message-icon"></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p>
  &nbsp;
</p>
<div class="large-12 column">
  <pre>
    <code data-language="html">
      <%= preserve do %>
        <escaped>

          <div class="large-12 column no-padding">
            <div class="list-view odd">
              <div class="image circle">
                <img src="/assets/co-workers.png"/>
              </div>
              <div class="name">
                Allison Smith
              </div>
              <div class="description">
                <div class="line1">
                  Flora and Fauna
                </div>
                <div class="line2">
                  123 17th St
                </div>
              </div>
              <div class="message"></div>
            </div>
          </div>



        </escaped>
      <% end %>
    </code>
  </pre>
</div>
<hr/>
<h2 id="groups-style-guide">
  Groups style guide
</h2>
<div class="row">
  <div class="large-12 column no-padding">
    <div class="large-12 column no-padding">
      <div class="groups-listView odd">
        <div class="image square">
          <img src="/assets/co-workers.png"/>
          <div class="members-count">
            <i class="icon icon-users"></i>
            34
          </div>
          <div class="type">
            <i class="icon icon-lock"></i>
          </div>
        </div>
        <div class="description">
          <div class="title">
            Allison Smith
          </div>
          <div class="details">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled ...
          </div>
        </div>
        <div class="action">
          <div class="button tiny cta-button">
            join
          </div>
          <a href="#">
            Ignore
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row margin-bottom-2rem"></div>
<div class="large-12 column">
  <pre>
    <code data-language="html">
      <%= preserve do %>
        <escaped>

          <div class="groups-listView odd">
            <div class="image square">
              <img />{ src:"/assets/co-workers.png"}<div class="members-count">
                <i class="icon icon-users"></i>
                34
              </div>
              <div class="type">
                <i class="icon icon-lock"></i>
              </div>
            </div>
            <div class="description">
              <div class="title">
                Allison Smith
              </div>
              <div class="details">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled ...
              </div>
            </div>
            <div class="action">
              <div class="button tiny cta-button">
                join
              </div>
              <a href=>'#' >
                Ignore</a>
            </div>
          </div>


        </escaped>
      <% end %>
    </code>
  </pre>
</div>
<div class="row margin-bottom-2rem">
  <div class="large-12 column no-padding">
    <div class="groups-listView even highlight">
      <div class="image square">
        <img src="/assets/co-workers.png"/>
        <div class="members-count">
          <i class="icon icon-users"></i>
          34
        </div>
        <div class="type">
          <i class="icon icon-lock"></i>
        </div>
      </div>
      <div class="description">
        <div class="title">
          Allison Smith
        </div>
        <div class="details">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled ...
        </div>
      </div>
      <div class="action">
        <div class="button tiny">
          + invite
        </div>
        <div class="requests">
          <div class="count">
            2
          </div>
          <span>
            Requests
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row margin-bottom-2rem">
  <div class="large-12 column">
    <pre>
      <code data-language="html">
        <%= preserve do %>
          <escaped>

            <div class="groups-listView even highlight">
              <div class="image square">
                <img />{ src:"/assets/co-workers.png"}<div class="members-count">
                  <i class="icon icon-users"></i>
                  34
                </div>
                <div class="type">
                  <i class="icon icon-lock"></i>
                </div>
              </div>
              <div class="description">
                <div class="title">
                  Allison Smith
                </div>
                <div class="details">
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled ...
                </div>
              </div>
              <div class="action">
                <div class="button tiny">
                  + invite
                </div>
                <div class="requests">
                  <div class="count">
                    2
                  </div>
                  <span>
                    Requests
                  </span>
                </div>
              </div>
            </div>


          </escaped>
        <% end %>
      </code>
    </pre>
  </div>
</div>
<hr/>
<div class="row margin-bottom-2rem">
  <div class="large-12 column">
    <h3>
      list dropdown
    </h3>
    <div class="button secondary tiny image-button" data-dropdown="options-dropdown1" id="button-dropdown1">
      <i class="icon-arrow-down"></i>
    </div>
    <div class="button secondary tiny image-button" data-dropdown="options-dropdown1" id="button-dropdown1" style="top:3px">
      <i class="icon-edit" style="font-size:1.1rem;line-height: 0.5rem;"></i>
    </div>
    <ul class="tiny feed-option f-dropdown" id="options-dropdown1">
      <li>
        <a>some text</a>
      </li>
      <li>
        <a>some text</a>
      </li>
    </ul>
  </div>
</div>
